.movieDiv {
  margin: 10px auto;
  border: 2px solid #6666;
  width: 300px;
  height: 150px;
  text-align: center;
}

.navtab {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  background: gray;
  justify-content: center;
  margin: 5px;
}
